.table-center {
    width: 100%;
    margin: 0px auto;
    float: none;
}

.icon-grid {
    padding-right: 20px;
}

.navbar-brand {
    margin-right: 0rem;
}

.wbdv-add-course {

}

.wbdv-add-course-group {
    width: 100%;
    position: relative;
}

.fa-custom-color {
    color: white;
}

.wbdv-fixed-add-course {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.wbdv-file-icon-spacing {
    padding-right: 10px;
}

.wbdv-course-manager {
    color: white;
}

@media (max-width: 768px) {
    .wbdv-course-manager {
        display:none;
    }
}

.btn-alignment {
    margin-right:0;
    margin-left: auto;
}

.input-alignment {
    margin-right:0;
    margin-left: auto;
    width: 90%;
}

