.wbdv-update {
    background-color: green;
    border-color: green;
}
.wbdv-update:hover {
    background-color: darkgreen;
    border-color: darkgreen;
}

.wbdv-update:focus {
    background-color: green;
    border-color: greenyellow;
}

.wbdv-logout {
    background-color: red;
    border-color: red;
}
.wbdv-logout:hover {
    background-color: darkred;
    border-color: darkred;
}

.wbdv-logout:focus {
    background-color: red;
    border-color: orangered;
}