.wbdv-button {
    background-color: transparent;
    color: black;
    border-color: transparent;
}

.wbdv-button {
    background-color: transparent;
}

.wbdv-remove:hover {
    color: red;
}

.wbdv-edit:hover {
    color: yellowgreen;
}

.wbdv-create:hover {
    color: green;
}

.wbdv-update:hover {
    color: dodgerblue;
}